<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Claimed jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="claimed_jobs">
              <% current_worker.jobs.each do |job| %>
                <% if !job.active? && !job.completed? %>
                  <%= link_to job.title, job_path(job) %> | <%= link_to "Active", worker_active_path(@worker, job), remote: true, class: "btn btn-default" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Active Jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="active_jobs">
              <% current_worker.jobs.each do |job| %>
                <% if job.active? && !job.completed? %>
                  <%= link_to job.title, job_path(job) %> | <%= link_to "Done", worker_complete_path(@worker, job), remote: true, class: "btn btn-default" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Completed Jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ol id="completed_jobs">
                <% current_worker.jobs.each do |job| %>
                  <% if job.completed? %>
                    <li id='job_<%= job.id %>'><%= link_to job.title, job_path(job) %></li>
                  <% end %>
                <% end %>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
