<h1><%= current_worker.email %>'s</h1>

<h2>Claimed jobs</h2>
<div id="claimed_jobs">
  <ol>
    <% current_worker.jobs.each do |job| %>
      <% if !job.active? && !job.completed? %>
        <li id='job_<%=  job.id %>'><%= link_to job.title, job_path(job) %> | <%= link_to "Active", worker_active_path(@worker, job), remote: true, class: "btn btn-default" %></li>
      <% end %>
    <% end %>
  </ol>
</div>

<h2>Active Jobs</h2>
<ol id="active_jobs">
  <% current_worker.jobs.each do |job| %>
    <% if job.active? && !job.completed? %>
      <li id='job_<%= job.id %>'><%= link_to job.title, job_path(job) %> | <%= link_to "Done", worker_complete_path(@worker, job), remote: true, class: "btn btn-default" %></li>
    <% end %>
  <% end %>
</ol>

<h2>Completed Jobs</h2>
<ol id="completed_jobs">
  <% current_worker.jobs.each do |job| %>
    <% if job.completed? %>
      <li id='job_<%= job.id %>'><%= link_to job.title, job_path(job) %></li>
    <% end %>
  <% end %>
</ol>
